*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    background-color: #1f2937;
}
#logo{
    font-size: 24px;
    color: #f9faf8;
}
ul li, a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
}
ul li a{
    transition: all 0.3s ease 0s;
}
ul li a:hover{
    color: orange;
    transform: translateY(-2px);
}

#main-content{
    width: 100%;
    height: 450px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}
#main-content .text-content{
    max-width: 700px;
    padding: 10px;
    margin-left: 180px;
}
#main-content .text-content h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
#main-content .text-content p{
    font-size: 18px;
    color: #e5e7eb;
}
#main-content .text-content button{
    margin: 10px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    cursor: pointer;
}
#main-content img{
    width: 500px;
    height: 250px;
    margin-right: 180px;
}

#main-info{
    height: 400px;
    margin: 50px;
    text-align: center;
}
#main-info h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
#main-info .engine-cards{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#main-info .cards img{
    width: 180px;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}
#main-info .engine-cards .cards p{
    margin: 10px;
    color: rgb(88, 88, 88);
}
#main-info .engine-cards .cards{
    transition: all 0.3s ease 0s;
    padding: 10px;
    border-radius: 20px;
}
#main-info .engine-cards .cards:hover{
    transform: translateY(-5px);
    cursor: pointer;
    background-color: #caccd0;
}


#main-quote{
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-quote h3{
    font-size: 36px;
    color: #1f2937; 
    font-weight: 300;
}
#main-quote h5{
    font-size: 36px;
    color: #1f2937;
}

#main-signup{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-signup .sign-up-card{
    border-radius: 15px;
    background-color: #3882f6;
    padding: 50px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#main-signup .sign-up-card .text-container{
    color: #e5e7eb;
    font-size: 24px;
}
#main-signup .sign-up-card button{
    margin: 10px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #e5e7eb;
    cursor: pointer;
}

footer{
    background-color: #1f2937;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
}

