*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    background-color: #1f2937;
}
#logo{
    font-size: 24px;
    color: #f9faf8;
}
ul li, a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
}
ul li a{
    transition: all 0.3s ease 0s;
}
ul li a:hover{
    color: orange;
    transform: translateY(-2px);
}

.main-content{
    width: 100%;
    height: 450px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}
.main-content .text-content{
    max-width: 700px;
    padding: 10px;
    margin-left: 180px;
}
.main-content .text-content h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.main-content .text-content p{
    font-size: 18px;
    color: #e5e7eb;
}
.main-content .text-content button{
    margin: 10px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    cursor: pointer;
}
.main-content img{
    width: 500px;
    height: 250px;
    margin-right: 180px;
}



